# Rsyslog capturing openrc logs to show functionality
# By: Alonzo Ortiz-Sanchez
if ($programname == "start-stop-daemon") then {action(type="omfile" File="/var/log/daemonOPENRC.log") stop} # Openrc init.d execution
if ($syslogfacility-text == "authPriv") and re_match($msg, 'ran command|command not permitted') then {action(type="omfile" File="/var/log/daemonOPENRC.log") stop} # Openrc daemon authpriv logging
